---
import BookNowButton from "@components/ui/BookNowButton.astro";
import CarouselContainer from "@components/ui/CarouselContainer.astro";

const Groomers = [
  {
    name: "Arvind",
    experience: "5+ years",
    total_grooming: "500+",
    rating: "4.7",
    image_url: "https://vetic-img.s3.ap-south-1.amazonaws.com/website/grooming_page/1st.jpg",
  },
  {
    name: "Harshit",
    experience: "3+ years",
    total_grooming: "300+",
    rating: "5.0",
    image_url: "https://vetic-img.s3.ap-south-1.amazonaws.com/website/grooming_page/2nd.jpg",
  },
  {
    name: "Anand",
    experience: "4+ years",
    total_grooming: "250+",
    rating: "4.5",
    image_url: "https://vetic-img.s3.ap-south-1.amazonaws.com/website/grooming_page/3rd.jpg",
  },
  {
    name: "Abhishek Verma",
    experience: "6+ years",
    total_grooming: "600+",
    rating: "4.9",
    image_url: "https://ssmc.ae/assets/uploads/2024/12/xMale-1-e1677070450488.png.pagespeed.ic_.26fSvc-qMr.webp",
  },
  {
    name: "Rahul Raghav",
    experience: "2+ years",
    total_grooming: "150+",
    rating: "4.6",
    image_url: "https://ssmc.ae/assets/uploads/2024/12/xMale-1-e1677070450488.png.pagespeed.ic_.26fSvc-qMr.webp",
  },
  {
    name: "Sanchit Sharma",
    experience: "3+ years",
    total_grooming: "220+",
    rating: "4.8",
    image_url: "https://ssmc.ae/assets/uploads/2024/12/xMale-1-e1677070450488.png.pagespeed.ic_.26fSvc-qMr.webp",
  },
];

---

<div class="mx-auto px-2 mt-2 mb-2">
  <CarouselContainer carouselId="groomer-carousel">
    {
      Groomers.map((groomer) => {
        return (
          <>
            <div class="max-w-xs sm:w-full rounded-lg overflow-hidden mx-auto my-3">
              <div class="relative">
                <BookNowButton location={Astro.props.location}>
                  <div
                    class="mx-auto w-20 h-20 sm:w-32 sm:h-32 rounded-full relative overflow-hidden"
                  >
                    <img
                      src={groomer.image_url}
                      alt={groomer.name}
                      class="w-full h-full object-cover rounded-full"
                      loading="lazy"
                    />
                  </div>
                </BookNowButton>
                <div class="flex justify-center items-center w-10 h-4 bg-gray-100 rounded-2xl absolute right-7 bottom-2 ">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="h-3 w-3 text-yellow-400"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <span class="text-[10px] font-semibold mb-2 pt-2 pl-1 text-black">
                    {groomer.rating}
                  </span>
                </div>
              </div>
              <p class="font-bricolage text-center sm:text-lg py-2">{groomer.name}</p>
              <div class="text-left px-2 pb-2">
                <p class="font-bricolage text-sm sm:text-base text-center">
                  <span class="pr-4 text-gray-500 text-xs sm:text-base font-light">
                    Experience
                  </span>
                  {groomer.experience}
                </p>
                <p class="font-bricolage text-sm sm:text-base text-center">
                  <span class="pr-4 text-gray-500 text-xs sm:text-base font-light">
                    Total Grooming's
                  </span>
                  {groomer.total_grooming} Pets
                </p>
              </div>
            </div>
            <p class="border-s-2 mx-2 border-gray-200 sm:h-20 h-12 top-14" />
          </>
        );
      })
    }
  </CarouselContainer>
</div>

<script>
  import Flickity from "flickity";
  import "flickity/css/flickity.css";
  var elem = document.querySelector(".groomer-carousel");
  new Flickity(elem, {
    // options
    cellAlign: "left",
    contain: true,
    pageDots: false,
    pauseAutoPlayOnHover: false,
    prevNextButtons: false,
    autoPlay: 1500,
    wrapAround: true,
  });
</script>
