---
import BookNowButtonMarketing from "@components/ui/BookNowButtonMarketing.astro";
const {
  content: { ContactUs },
  srNumber,
} = Astro.props;
---

<div class="mx-auto bg-gray-100 rounded-lg sm:rounded-2xl p-6 sm:p-12 sm:w-11/12  py-10 sm:mb-16 mt-4 sm:mt-10">
  <BookNowButtonMarketing>
    <img
      class="w-32 h-14 object-cover rounded-full mx-auto"
      src={ContactUs?.image_url}
      alt="User Group"
    />
  </BookNowButtonMarketing>
  <div>
    <h2
      class="text-xl sm:text-3xl font-semibold text-center font-bricolage text-gray-900 mt-5"
    >
      {ContactUs?.heading}
    </h2>
    <p
      class="text-base sm:text-xl font-bricolage text-gray-400 mt-5 text-center px-4"
    >
      {ContactUs?.description}<span><a class="text-base sm:text-xl font-bricolage text-blue-600" href="mailto:shield@vetic.in">{ContactUs?.mailId}</a></span>{ContactUs?.description1}
    </p>
  </div>
  <div class="flex justify-center mt-6">
    <a href={`tel:${srNumber}`}>
      <button
        class="px-6 py-3 leading-5 sm:text-xl text-white transition-colors duration-200 transform bg-blue-950 rounded-md hover:bg-blue-900 focus:outline-none focus:bg-blue-900 font-md font-bricolage tracking-button"
      >
        {ContactUs?.buttonText}
      </button>
    </a>
  </div>
</div>
