---
// import type { ISurgerySlugPageProps } from "@components/pages/pages_props_interface";

const {
  content: { petSurgeryTable },
} = Astro.props;
---

<div class="w-full mt-4 bg-gradient-to-b from-sky-50 relative">
  <p
    class="mx-auto w-11/12 text-2xl tracking-wide font-semibold text-gray-800 font-bricolage py-6 sm:py-8 lg:py-8"
  >
    {petSurgeryTable.heading}
  </p>
  <div class="w-11/12 mx-auto px-4 bg-white rounded-lg sm:px-6 lg:px-8">
    <div class="flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-8 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
                  >{petSurgeryTable.feature}</th
                >
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >{petSurgeryTable.vetic}</th
                >
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >{petSurgeryTable.others}</th
                >
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {
                petSurgeryTable.PetSurgeryTableComponent.map((tableContent) => (
                  <tr>
                    <td class="py-5 w-1/2 text-sm sm:pl-0 ">
                      <div class="flex items-center justify-left w-5/6 ">
                        <div class="flex flex-col items-center ">
                          <img
                            class="w-18 h-12 p-2 "
                            src={tableContent.image}
                            alt="surgery_feature_image"
                          />
                          <div class="mt-2 font-semibold text-gray-900 py-2 px-2 text-center">
                            {tableContent.heading}
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                      <span class="inline-flex items-center rounded-lg bg-green-100 p-4 text-xs font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          x="0px"
                          y="0px"
                          class="w-5 h-5 text-green-600"
                          viewBox="0 0 50 50"
                        >
                          <path d="M 41.9375 8.625 C 41.273438 8.648438 40.664063 9 40.3125 9.5625 L 21.5 38.34375 L 9.3125 27.8125 C 8.789063 27.269531 8.003906 27.066406 7.28125 27.292969 C 6.5625 27.515625 6.027344 28.125 5.902344 28.867188 C 5.777344 29.613281 6.078125 30.363281 6.6875 30.8125 L 20.625 42.875 C 21.0625 43.246094 21.640625 43.410156 22.207031 43.328125 C 22.777344 43.242188 23.28125 42.917969 23.59375 42.4375 L 43.6875 11.75 C 44.117188 11.121094 44.152344 10.308594 43.78125 9.644531 C 43.410156 8.984375 42.695313 8.589844 41.9375 8.625 Z" />
                        </svg>
                      </span>
                    </td>
                    <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                      <span class="inline-flex items-center rounded-lg bg-red-100 p-4 text-xs font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          x="0px"
                          y="0px"
                          class="w-5 h-5 text-red-600"
                          viewBox="0 0 50 50"
                        >
                          <path d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z" />
                        </svg>
                      </span>
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
