---
import { Image } from "astro:assets";
import BookNowButton from "@components/ui/BookNowButton.astro";
const {
  content: { vaccinationSchedules },
} = Astro.props;
---

<style>
  /* external css: flickity.css */

  .carousel-cell {
    margin-right: 10px;
    width: 27%;
    border-radius: 25px;
    counter-increment: carousel-cell;
  }

  @media screen and (min-width: 800px) {
    .carousel-cell.is-selected {
      /* border: 1px solid gray; */
    }
  }

  .carousel-main .carousel-cell.is-nav-selected {
    background: #101828 !important;
    color: #ffffff;
  }

  /* Styles for mobile view */
  @media screen and (max-width: 800px) {
    .carousel-nav {
      display: block; /* Show all cards in a column */
    }

    .carousel-cell {
      margin: 0; /* Remove margin for mobile view */
      width: 100%; /* Full width for cards in mobile */
    }
  }
</style>

<!-- desktop view -->

<div class="bg-gradient-to-t from-primaryColor to-white py-10 hidden md:block">
  <div class="container mx-auto w-11/12">
    <h2 class="text-2xl sm:text-4xl font-primaryFont text-gray-800 mb-4">
      {vaccinationSchedules.heading}
    </h2>
    <p class="text-gray-700 text-lg font-secondaryFont mb-6">
      {vaccinationSchedules.subHeading}
    </p>

    <div class="border-gray-300 rounded-3xl">
      <!-- Vaccination Schedule card starts -->
      <div
        class="carousel-nav"
        data-flickity='{"contain": true, "pageDots": false, "prevNextButtons": false }'
      >
        {
          vaccinationSchedules.cards.map((card) => (
            <div class="carousel-cell bg-white shadow-lg rounded-3xl flex flex-col h-[630px] mx-4 my-4">
              <div class="flex mb-4 p-4 bg-[#F05B72B2] rounded-t-3xl">
                <img
                  src={card.image}
                  alt="card image"
                  class="w-[60px] h-[60px] object-cover rounded-full border-[1px] border-white"
                />
                <div class="pl-4">
                  <h2 class="text-2xl font-medium text-white font-primaryFont">
                    {card.title}
                  </h2>
                </div>
              </div>

              <div class="px-4 flex-1">
                <table class="w-full text-sm text-[#333333]">
                  <tbody>
                    {card.schedule.map((item) => (
                      <tr class=" border-gray-300 border-b-[1px] flex items-center">
                        <td class="py-2 text-[#F86495] font-medium text-xl font-primaryFont w-1/3">
                          {item.day}
                        </td>
                        <td class="py-2 text-xl font-medium font-secondaryFont w-2/3">
                          {item.vaccine}
                        </td>
                      </tr>
                    ))}
                  </tbody>
                </table>

                {/* <div class="border-b-[1px] border-gray-300 border-dotted"></div> */}
                <p class="text-sm text-[#666666] mt-4 font-secondaryFont">
                  {card.note}
                </p>
              </div>

              <div class="p-4">
                <div class="flex justify-between items-center">
                  <div>
                    <p class="text-sm text-gray-700">{card.priceContent}</p>
                    <div class="flex items-center justify-center">
                      <p class="text-2xl font-semibold text-[#333333] ">
                        {card.price}
                      </p>
                      <p class="text-lg text-gray-700 ml-2 line-through">
                        {card.cutPrice}
                      </p>
                    </div>
                  </div>
                  <div>
                    <BookNowButton className=" border-[1px] border-black font-primaryFont text-[16px] rounded-lg py-2 px-4">
                    {card.buttonText}
                  </BookNowButton>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<!-- Mobile view -->

<div class="bg-gradient-to-t from-primaryColor to-white py-6 md:hidden">
  <div class="container mx-auto w-11/12">
    <h2 class="text-[24px] font-primaryFont text-gray-800 mb-2">
      <!-- <span class="text-[#F05B72]"> -->
      {vaccinationSchedules?.heading}
      <!-- </span> -->
    </h2>
    <p class="text-gray-700 font-secondaryFont mb-4">
      {vaccinationSchedules?.subHeading}
    </p>

    <div class="border-gray-300 rounded-3xl">
      <!-- Vaccination Schedule card starts -->
      {
        vaccinationSchedules.cards.map((card, index) => (
          <div class="mb-4">
            <div class="carousel-cell bg-white shadow-lg rounded-3xl flex flex-col  mx-4 ">
              <div class="flex p-4 bg-[#F05B72B2] rounded-t-3xl">
                <img
                  src={card.image}
                  alt="card image"
                  class="w-[60px] h-[60px] object-cover rounded-full border-[1px] border-white"
                />
                <div class="pl-4">
                  <h2 class="text-[20px] font-medium text-white font-primaryFont">
                    {card.title}
                  </h2>
                </div>
              </div>

              <div class="px-4 flex-1">
                <table class="w-full text-sm text-[#333333]">
                  <tbody>
                    {card.schedule.map((item) => (
                      <tr class=" border-gray-300 border-b-[1px] ]">
                        <td class="py-4 text-[#F86495] font-medium text-[18px] font-primaryFont">
                          {item.day}
                        </td>
                        <td class="py-4 pl-4 text-[18px] font-medium font-secondaryFont">
                          {item.vaccine}
                        </td>
                      </tr>
                    ))}
                  </tbody>
                </table>

                {/* <div class="border-b-[1px] border-gray-300 border-dotted"></div> */}

                <p class="text-sm text-[#666666] mt-4 font-secondaryFont">
                  {card.note}
                </p>
              </div>

              <div class="p-4 mt-auto">
                <div class="flex justify-between items-center">
                  <div>
                    <p class="text-sm text-gray-700">{card.priceContent}</p>
                    <div class="flex items-center">
                      <p class="text-[20px] font-semibold text-[#333333]">
                        {card.price}
                      </p>
                      <p class="text-[14px] text-gray-700 ml-2 line-through ">
                        {card.cutPrice}
                      </p>
                    </div>
                  </div>
                  <BookNowButton className=" border-[1px] border-black font-primaryFont text-[16px] rounded-lg py-2 px-4">
                    {card.buttonText}
                  </BookNowButton>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
