---
import { Image } from "astro:assets";
const {
  content: { veticGrowth },
  isAboutUsPage
} = Astro.props;
// console.log(veticGrowth)
---

<section class="bg-white py-8 sm:py-16">
  <div class="container w-11/12 mx-auto">
    <div class="flex flex-col gap-8">
      { isAboutUsPage && (
          <div>
             <!-- Desktop Image -->
              <div class="w-full hidden md:block">
                <img
                  src={veticGrowth?.desktopImage}
                  alt="Three dogs sitting in a barn"
                  class="w-full h-[400px] object-cover rounded-2xl shadow-md"
                />
              </div>

              <!-- Mobile Image -->
              <div class="w-full md:hidden">
                <img
                  src={veticGrowth?.mobileImage}
                  alt="Three dogs sitting in a barn"
                  class="w-full h-[235px] object-fit rounded-2xl shadow-md"
                />
              </div> 
        </div>  
     )}
      <!-- Content Section -->
      <div class="w-full space-y-6">
        <h2 class="text-3xl sm:text-4xl font-primaryFont text-gray-800">
          {veticGrowth?.heading1}
          <span class="text-[#F05B72]">{veticGrowth?.heading2}</span>
        </h2>
        <p class="text-gray-600">{veticGrowth?.subHeading}</p>
        <p class="text-gray-600">{veticGrowth?.subHeading1}</p>
        <p class="text-gray-600">{veticGrowth?.subHeading2}</p>

        <!-- USP Section -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          {
            veticGrowth?.usp?.map((data) => (
              <div class="bg-gray-50 px-10 py-6 rounded-xl shadow-sm flex flex-col items-center justify-center text-center">
                <img
                  src={data?.image}
                  alt="Three dogs sitting in a barn"
                  class="w-14 h-14 object-cover bg-white rounded-lg mb-2"
                />
                <h3 class="sm:text-2xl text-[20px] font-bold font-primaryFont text-gray-800 mb-1 ">
                  {data?.heading}
                </h3>
                <h4 class="sm:text-lg text-[18px] font-secondaryFont text-gray-700">
                  {data?.subHeading}
                </h4>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
